.product-display {
    width: 80%;
    display: flex;
    flex-direction: row;
    margin-inline: auto;
    margin-block: 50px;
}

.item-image {
    width: 30%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
    border: 2px solid #000000;
    border-radius: 20px;
}

.item-image img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 300px;
    display: block;
    margin: auto auto;
    border-radius: 10px;
}

.item-img-error {
    min-width: 30%;
    height: 300px;
    max-width: none;
    max-height: none;
    background-color: #c9c9c9; 
}

.item-details {
    width: 70%;
}

.item-name-topic { 
    font-size: 20px;
    font-weight: bold;
    margin-top: -30px;
}

.ratings {
    margin-top: -15px;
    color: #ffd12b; 
}

.ratingStarA {
    color: #d4d4d4;
}

.item-availability-price {
    display: flex;
    align-items: left;
    font-size: 13px;
    font-weight: bold;
}

.item-availability-price p{
    margin-right: 30px;
    display: flex;
}

.value {
    color: #01A3FF;
    margin-left: 5px;
}

.item-description {
    font-size: 13px;
    margin-bottom: 20px;
    margin-left: -25px;
    margin-top: -10px;
}

.item-description-line {
    position: relative;   
}

.line-bullet-dash {
    margin-left: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}

.quantity {
    display: flex;
    flex-direction: row;
    width: 175px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    font-size: 13px;
    font-weight: bold;
}

.quantity-inputs {
    display: flex;
    width: 100px;
    justify-content: space-between;
    align-items: center;
}

.quantity-inputs p {
    font-size: 15px;
    cursor:context-menu;
    margin-inline: 10px;
    user-select: none;
}

.quantity-change-button:active {
    transform: scale(1.5);
}

.quantity input {
    width: 50px;
    height: 40px;
    color: #01A3FF;
    font-weight: bold;
    font-size: 20px;
}

/* Hide arrows in number input for Chrome, Safari, Edge, and Opera */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Hide arrows in number input for Firefox */
input[type='number'] {
    -moz-appearance: textfield;
}

/* Center input inside input box*/
input[type='number'] {
    text-align: center; /* Centers the text horizontally */
    vertical-align: middle; /* Centers the text vertically */
}

.add-to-cart  button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 162px;
    height: 37px;
    background-color: #01A3FF; 
    color: #ffffff;
    border-radius: 5px;
    border: none;
    gap: 15px;
}

.add-to-cart button:hover {
    background-color: #006dac;
    transform: scale(1.05);
    transition: 0.3s;
}

.button-cart-icon {
    font-size: 16px;
}

.add-to-cart  button p {
    font-weight: bold;
}

.confirmation-message {
    position: fixed;
    bottom: 50px;
    left: 50%; 
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;   
    background-color: #00000075;
    border: none;
    text-align: center;
    gap: 20px;
    padding: 0px 15px;
    border-radius: 10px;
    color: white;
    font-size: 13px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: opacity 0.5s ease;
    min-width: 200px;
}

.confirmation-message-btn {
    width: 27px;
    height: 22px;
    color: #ffffff;
    background-color: #e00000;
    border-radius: 20%;
    border: none;
    font-size: inherit;
    margin-top: 10px;
    margin-right: -5px;
}

/* for rent */
.item-image-rent-price {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}

.item-image {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #000000;
    border-radius: 20px;
}

.item-rent-prices {
    margin-top: 30px;
    font-size: 13px;
    font-weight: bold;
    width: 100%;
}

.item-rent-prices p {
    color: #01A3FF;
    margin-left: 5px;
}

.item-rent-prices-grid {
    display: grid;
    flex: auto;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin-top: 20px;
}

.rental {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left; 
    margin-top: -20px; 
}

.rental p {
    align-items: left;
    margin-right: 20px; 
    margin-left: 5px;
}

.item-description-for-rent {
    color: #01A3FF;
}

.set-up-dates {
    display: flex;
    flex-direction: column;
    width: 260px;
    height: 120px;
    justify-content: space-between;
    margin-bottom: 80px;
}

.set-up-dates input {
    height: 40px;
    border: 2px solid #c9c9c9;
    border-radius: 5px;
    padding-inline: 20px;
    padding-block: 5px;
    color: #6c6c6c;
    font-size: 16px;
    cursor: text;
}

.set-up-dates p {
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 2px;
}

.cart-icon-tool-box {
    font-size: 13px;
    margin-top: -2.2px;
}

.set-up-dates input[type='date']::-webkit-calendar-picker-indicator {
    filter: invert(36%) sepia(84%) saturate(3771%) hue-rotate(186deg) brightness(100%) contrast(150%); /* Adjusting color */
    cursor: pointer;
    font-size: 23px;
}

.item-name-rating-availability-extra {
    display: none;
}

.table-rent-result {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 13px;
}

.table-rent-result th, 
.table-rent-result td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    padding-inline: 20px;
}

.table-rent-result th {
    background-color: #e2e2e2;
    text-align: center;
}

.contact {
  background-color: #ffffff;
  padding: 20px; 
  border-radius: 10px; 
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1); 
  max-width: 400px; 
  margin: 50px 0px 50px 0px; 
}

.contact p { 
  line-height: 1.6; 
  margin-bottom: 10px; 
}

.contact-topic {
    font-size: 17px;
    font-weight: bold;
    margin-top: 20px;
    color: #01A3FF;
}

.contact p strong {
  font-weight: bold; 
  margin-left: 10px;
}

.contact p:last-child {
  margin-bottom: 0; 
}

@media (max-width: 650px) {
    .product-display {
        flex-direction: column;
        margin-top: 30px;
    }
    
    .item-image {
        margin-bottom: -10px;
    }
    
    .item-details {
        width: 100%;
        margin-top: 20px;
    }

    .item-name-topic {
        margin-top: -10px;
    }
    
    /* for rent */
    .item-name-rating-availability-rent {
        display: none;
    }

    .item-name-rating-availability-extra {
        display: block;
        margin-top: 30px;
        margin-bottom: -25px;
        margin-inline: -20px;
    }

    .item-image-rent-price {
        width: 90%;
        margin-inline: auto;
        margin-bottom: 10px;
    }
    
    .item-rent-prices {
        margin-bottom: -20px;
        margin-inline: -20px;
    }

    .quantity {
        margin-top: 30px;
    }

} 