.main-banner {
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: center;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.main-banner img {
    display: flex;
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: opacity 0.5s ease-in-out;
}

.fade-in {
    opacity: 1;
}

.fade-out {
    opacity: 0;
}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    padding: 10px;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}


