.forgot-password-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 25px;
    background-color: #1daeff; 
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: #fff;
    font-family: 'Poppins', sans-serif;
  }
  
  .forgot-password-container h2 {
    font-size: 1.7em;
    margin-bottom: 30px;
    font-weight: bold;
  }
  
  .forgot-password-container p {
    font-size: 1em;
    margin-bottom: 20px;
  }
  
  .forgot-password-container .form-group {
    margin-bottom: 20px;
  }
  
  .forgot-password-container input {
    width: 90%;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    background-color: #f9f9f9;
    color: #333;
  }
  
  .forgot-password-container input:focus {
    outline: none;
    border: 2px solid #007bff;
  }
  
  .forgot-password-container button {
    background-color: #000;
    color: #fff;
    padding: 12px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
    margin-top: 10px;
  }
  
  .forgot-password-container button:hover {
    background-color: #333;
  }
  
  .forgot-password-container .message {
    margin-top: 20px;
    padding: 10px;
    font-size: 0.95em;
    border-radius: 5px;
  }
  
  .forgot-password-container .message.success {
    background-color: #d4edda;
    color: #155724;
  }
  
  .forgot-password-container .message.error {
    background-color: #f8d7da;
    color: #721c24;
  }
  