.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
    padding: 4vw;
    font-size: 1vw;
    list-style: none;
    background-color: #E9F7FF;
    cursor: default;
} 

.footer-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block: auto;
} 

.footer-logo-logo {
    display: flex;
    flex-direction: row;
} 

.footer-logo-logo img {
    width: 4vw;
    height: 4vw;
}

.footer-logo-logo p {
    margin-top: 2.3vw;
    margin-left: -1vw;
    font-size: 1.8vw;
    font-weight: 700;
    color: #0097ED;
    letter-spacing: 1.5px;
}

.footer-logo-quote {
    color: #706B6B;
    margin-top: 0vw;
    margin-left: 1.1vw;
}

.footer-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
} 

.footer-links-social-media {
    display: flex;
    flex-direction: column;
}

.footer-links-social-media-icons {
    display: flex;
    flex-direction: row;
    margin-top: 1vw;
    gap: 1.0vw;
}

.footer-links-social-media-icons a {
    border: 1px solid #706B6B;
    border-radius: 50%;
    padding: 1.2vw;
    width: 1vw;
    height: 1vw;
    color: #000000;
}

.footer-links-social-media-icons-icon {
    margin-top: -0.5vw;
    margin-left: -0.45vw;
}

.footer-links-social-media-icons a:hover {
    color: #F2AE00;
    border: 1px solid #F2AE00;
}

.footer-title {
    font-size: 1.3vw;
    margin-bottom: 1vw;
    font-weight: 600;
    color: #0097ED;
}

.footer li:hover {
    color: #F2AE00;
    cursor: pointer;
}

.footer-contact-us {
    margin-top: 2.0vw;
}

.footer-contact-us li:hover {
    color: inherit;
    cursor: default;
}