.categories-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(16vw, 2fr));
    width: 65.5%;
    gap: 4vw;
    margin-top: 10vw;
    margin-bottom: 5vw;
    margin-inline: auto;
}

.category-grid-item {
    width: 20vw;
    margin-top: -2.5vw;
} 

.category-text {
    margin-top: -2px;
    font-size: 1.2vw;
    text-align: center;
} 

.category-image {
    width: 20vw;
    border-radius: 5%;
} 

.category-link {
    text-decoration: none;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    align-items: center;
    display: inherit;
    cursor: pointer;
}

.category-link:hover {
    color: #F2AE00;
}

@media (min-width: 750px) and (max-width: 1000px) {

    .categories-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
    }

    .category-text {
        margin-top: 1px;
        font-size: 13px;
        width: 150%;
    }

    .category-image {
        width: 150%;
    }
}

@media (max-width: 750px) {
    
    .categories-grid {
        display: flex;
        flex-direction: column;
    }
    
    .category-grid-item {
        width: 65.5%;
        margin-inline: auto;
    } 
    
    .category-text {
        margin-top: 1px;
        font-size: 13px;
    } 
    
    .category-image {
        width: 100%;
    } 
}
  